div.container.absolute.w-screen.p-2.bottom-0.fixed.flex.justify-evenly.shadow-xl.m-2.text-2xl.border-4.border-dashed
 a(href="/") Home
 a(href="/memories") Memories
 a(href="/chats") Chats
 a(href="/friends") Friends 
 a(href="/profile") Profile 