link(rel='stylesheet', href='/stylesheets/output.css')
link(rel="icon" type="image/png" href="/favicon.png")
link(rel="stylesheet" href="/stylesheets/py.css")
link(rel="stylesheet" href="/stylesheets/output.css")
link(rel="stylesheet" href="/stylesheets/app.css")
script(src="/socket.io/socket.io.js")
script(defer src="/javascripts/main.js" type="module")
script(defer src="/javascripts/alphine.js")
include ./eruda.pug