div.navbarOut
 div(class="navbar")
  div(class="navbar__item")
   a(class="navbar__item--link" href="/rooms") rooms
  div(class="navbar__item")
   a(class="navbar__item--link" href="/chats") chats
  div(class="navbar__item")
   a(class="navbar__item--link" href="/") Home 