extend layout

block content
 div(class="h-screen w-screen flex justify-center align-center")
  div(class="rounded-3xl shadow-2xl h-32 p-4 border-2")
   div(class="input outline-0")
    input(name="name" id="name")
   button(id="createRoom" class="border-2 rounded") Create
 script.
   let createRoom= document.querySelector("#createRoom")
    const user = {
    name:"me",
    rooms:[],
    _id:1,
    email:"me@me.me"
  }
   createRoom.addEventListener("click",()=>{
     let name = document.querySelector("#name")
     socket.emit("addRoom",name.value, user)
     socket.on("room added",room=>{
       window.location.replace(`rooms/room/${room._id}`)
     })
     })