doctype html
html(lang="en")
  head
    title= title
    include ./includes/header.pug
  body(class="w-screen h-screen border-4 border-dotted shadow-2xl p-6")
    include ./includes/navbar
    block content
