extends layout

block content
 //mg(src="/images/login.jpeg" class="[z-index:-5] [z-index=-5] w-screen top-0 left-0  h-screen rounded shadow absolute img")
 div(class="container rounded flex h-full w-screen w-[120vw] m-0 text-4xl align-center justify-center items-center  text-center flex-col")
  form( method="POST" action="/users/login" class="h-[45rem] w-3/4 shadow-3xl rounded-xl border-2 border-dotted p-8 border-slate-700 dark:border-sky-500")
   h1(class="w-full text-center text-bold text-6xl") Welcome back 
   div(class="border rounded-3xl h-32 flex m-14")
    input(name="email" class="w-full p-2 h-full w-full rounded-3xl outline-0" value=email placeholder="Email")
    
   div(class="border rounded-3xl h-32 flex m-14")
    input(name="password" value=password class="w-full rounded-3xl p-2 outline-0 " placeholder="password")
   button(type="submit" class="p-2 border-2 shadow-lg border-groove my-4 hover:shadow-2xl rounded-2xl block w-full bg-gradient-to-r dark:from-indigo-500 dark:via-purple-500 dark:to-pink-500 from-sky-200 via-ryan-400 to-blue-400 text-center") submit
   hr(class="h-12" )
   button(class="p-2 border-2 border-groove rounded-2xl my-4 hover:shadow-2xl shadow-lg bg-gradient-to-r w-full dark:from-indigo-500 dark:via-purple-500 dark:to-pink-500 from-sky-400 via-ryan-400 to-blue-200")
     a(href="/auth/google") Google