.input{
  border:3px solid black;
  height:10vh;
  width:50vw
  input{
    border:none;
    outline:none;
  }
}
card{
  border:1px solid #dfdfdf;
  &__img{
    border:3px groove #dedede;
    &--caption{
      display: flex;
      justify-content: center;
    }
  }
}