$text-colors:(
  "dark":#aaa,
  "light":#ddd,
  "happy":#eee,
  "bright":#ada,
  "cool":#aca
);



.input {
  border:3px solid black;
  height:10vh;
  width:50vw;
  input {
    border:none;
    outline:none;
  }
}
card {
  border:1px solid #dfdfdf;
  &__img {
    border:3px groove #dedede;
    &--caption {
      display: flex;
      justify-content: center;
    }
  }
}
.navbarOut {
  display:flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1em;
  border: 1px groove #a59ccb15;
  width:100vw;
  .navbar {
    display:flex;
    justify-content: space-evenly;
    width:90vw;
    padding:0.5rem;
    &__item {
      padding:0.5rem;
      margin:0.25rem auto;
      &--link {
        text-decoration: none;
        width:74%;
      }
    }
  }
}