<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<title>C App</title>

<link rel="icon" type="image/png" href="favicon.png" />
<link rel="stylesheet" href="stylesheets/py.css" />
<!--
<script defer src="/javascripts/pyscript.js"></script>
<py-env>
- paths:
- ./utils.py
</py-env>-->
</head>

<body class="container">
<!--
<py-script src="./todo.py">  </py-script>
-->
<main>
<msgs-list ></msgs-list>
<ul id="messages"></ul>
<form id="form" action="">
<input id="input" autocomplete="off" /><button>Send</button>
</form>
<!--
<py-list id="myList"></py-list>
-->
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/main.js" type="module"></script>
<script src="/javascripts/eruda.js"></script>
<script>
eruda.init();
</script>
</body>
</html>